* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: lightskyblue;
}
#fav-animal {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}
.navbar {
    width: 100%;
    background-color: rgba(0, 128, 0, 0.5);
    display: block;
    margin-bottom: 20px;
}
nav div {
    display: inline-block;
    padding: 10px;
}
.nav-link {
    color: white;
    margin-left: 30%;
    font-size: 1.5rem;
}
section img {
    width: 300px;
    height: 200px;
    float: left;
    margin: 0 15px;
}